* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8C98D;
    box-sizing: border-box;
    height: 100%;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F9B83A;
    z-index: 1000;
}

.img-logo {
    text-align: center; 
}

.img-logo img {
    width: 100%;
    max-width: 200px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.img-logo img:hover {
    transform: scale(1.12);
}

h2.receita-nome {
    display: flex;
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    margin: 20px auto 40px auto;
    padding: 15px 20px;
    background-color: orange;
    color: white;
    border-color: #d5741a;
    border-radius: 20px;
    width: max-content;
}

.container-button {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 50px; 
    margin: 0 auto;
}

button.favorito-btn,
button.feito-btn {
    display: inline-block;
    max-width: 50px; 
    width: 100%;
    height: 50px; 
    max-height: 100px;
    border: 0;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    margin-bottom: 30px; 
}

i#favoritoId-btn,
i#feitoId-btn {
    font-size: 40px; 
    color: black; 
}



.avaliacao {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.star-icon {
    font-size: 40px;
    cursor: pointer;
    color: white; 
    transition: transform 0.2s;
}

.star-icon.active {
    color: gold; 
}

.star-icon::before {
    content: "\2605"; 
}

.star-icon.active::before {
    content: "\2605"; 
}

.star-icon:hover {
    transform: scale(1.2);
}

img.receita-imagem {
    width: 100%;
    max-width: 1000px; 
    height: auto; 
    display: block; 
    margin: 10px auto 30px; 
    border-radius: 30px;
}

p.receita-descricao {
    display: block;
    text-align: center;
    margin: 10px auto 50px auto;
    padding: 15px 20px;
    background-color: orange;
    color: white;
    border-color: #d5741a;
    border-radius: 20px;
    width: max-content;
    font-size: 40px;
    margin: 0 auto;
    padding: 0 20px;
}

h3.titulo-ingredientes {
    margin: 20px 0 0 20px;
    font-size: 30px;
    font-weight: bold;
}

ul.receita-ingredientes {
    margin-left: 40px;
    font-size: 23px;
    padding: 30px;
}

h3.titulo-modo_preparo {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

ul.receita-modo_preparo {
    margin-left: 40px;
    font-size: 23px;
    padding: 30px;
}

.comentarios h3 {
    margin: 20px 0 0 20px;
    font-size: 30px;
    font-weight: bold;
}

.comentarios form {
    margin: 20px 0 0 20px;
}

.comentarios textarea {
    width: 100%;
    height: 100%;
    max-width: 600px;
    padding: 10px 10px 30px 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
}

.comentarios button {
    max-width: 50px; 
    width: 100%;
    height: 50px; 
    max-height: 100px;
    background-color: #F9B83A;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    margin-bottom: 10px;
    color: white;
    border: 1px solid #d5741a;
}

@media (max-width: 370px) {
    .img-logo img {
        max-width: 150px;
    }
    h2.receita-nome{
        font-size: 25px;
        margin-bottom: 23px;
    }
    button.favorito-btn {
        max-width: 28px;
        max-height: 50px;
    }
    i#favoritoId-btn {
        font-size: 20px;
    }
    p.receita-descricao {
        font-size: 20px;
    }
    h3.titulo-ingredientes {
        font-size: 20px;
    }
    ul.receita-ingredientes {
        font-size: 18px;
    }
    h3.titulo-modo_preparo {
        font-size: 20px;
    }
    ul.receita-modo_preparo {
        font-size: 18px;
    }
    
}

footer {
    margin-top: 30px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: #D49927;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #F9B83A;
}

@media (min-width: 371px) and (max-width: 530px) {
    .img-logo img {
        max-width: 170px;
    }
    h2.receita-nome{
        font-size: 30px;
        margin-bottom: 25px;
    }
    button.favorito-btn {
        max-width: 35px;
        max-height: 50px;
    }
    i#favoritoId-btn {
        font-size: 25px;
    }
    p.receita-descricao {
        font-size: 25px;
    }
    h3.titulo-ingredientes {
        font-size: 25px;
    }
    ul.receita-ingredientes {
        font-size: 20px;
    }
    h3.titulo-modo_preparo {
        font-size: 25px;
    }
    ul.receita-modo_preparo {
        font-size: 20px;
    }
    
} 

@media (min-width: 531px) and (max-width: 768px) {
    .img-logo img {
        max-width: 185px;
    }
    h2.receita-nome{
        font-size: 40px;
        margin-bottom: 30px ;
    }
    button.favorito-btn {
        max-width: 40px;
        max-height: 50px;
    }
    i#favoritoId-btn {
        font-size: 30px;
    }
    p.receita-descricao {
        font-size: 30px;
    }
    h3.titulo-ingredientes {
        font-size: 25px;
    }
    h3.titulo-modo_preparo {
        font-size: 25px;
    }
    
}