<<<<<<< HEAD
<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8C98D;
        box-sizing: border-box;
        height: 100%;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F9B83A;
    z-index: 1000;
}

.img-logo {
    text-align: center; 
}

.img-logo img {
    width: 100%;
    max-width: 200px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.main-content {
    gap: 20px; 
    margin-top: 100px;
    max-width: 700px;
    margin: 0 auto;
}

.grid-container {
    background-color: #d5741a; 
    padding: 10px; 
    padding-left: 40px;
    border-radius: 10px;
    margin-top: 15px; 
    display: flex;
    align-items: center;
    
}

.botaoAdicionar{
    margin: 20px auto;
    padding: 10px 15px;
    background-color: #D5401F;
    color: white;
    border-color: #F9B83A;
    border-radius: 18px; 
    cursor: pointer;
}

.ingredientes label,
.ingredientes input,
.ingredientes button {
    margin-bottom: 10px; 
}

.ingrediente1{
    background-color: #d5741a; 
    padding: 10px; 
    padding-left: 40px;
    border-radius: 10px;
    margin-top: 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lixo{
    padding: 5px;
    background-color: #F9B83A;
    border-radius: 10px;
    border:2px solid white;
    cursor: pointer;
}

.ingrediente{
    background-color: #d5741a; 
    padding: 10px; 
    padding-left: 40px;
    border-radius: 10px;
    margin-top: 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.botao-cozinhar button {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: orange;
    color: white;
    border-color: #d5741a;
    border-radius: 18px; 
}



@media (max-width: 500px) {
.ingredientes label {
font-size: 14px;
}
    
.ingredientes input {
font-size: 12px;
}
    
.ingredientes button {
font-size: 11px;
}
    
.botao-cozinhar button {
font-size: 14px;
}
}
    
@media (min-width: 501px) and (max-width: 900px) {
.ingredientes label {
font-size: 16px;
}
    
.ingredientes input {
font-size: 14px;
}
    
.ingredientes button {
font-size: 13px;
}
    
.botao-cozinhar button {
font-size: 16px;
}
}
    
@media (min-width: 901px) {
.ingredientes label {
font-size: 18px;
}
    
.ingredientes input {
font-size: 16px;
}
    
.ingredientes button {
font-size: 15px;
}
    
.botao-cozinhar button {
font-size: 18px;
}
=======
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8C98D;
        box-sizing: border-box;
        height: 100%;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F9B83A;
    z-index: 1000;
}

.img-logo {
    text-align: center; 
}

.img-logo img {
    width: 100%;
    max-width: 200px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.main-content {
    gap: 20px; 
    margin-top: 100px;
    max-width: 700px;
    margin: 0 auto;
}

.grid-container {
    background-color: #d5741a; 
    padding: 10px; 
    padding-left: 40px;
    border-radius: 10px;
    margin-top: 15px; 
    display: flex;
    align-items: center;
    
}

.botaoAdicionar{
    margin: 20px auto;
    padding: 10px 15px;
    background-color: #D5401F;
    color: white;
    border-color: #F9B83A;
    border-radius: 18px; 
    cursor: pointer;
}

.ingredientes label,
.ingredientes input,
.ingredientes button {
    margin-bottom: 10px; 
}

.ingrediente1{
    background-color: #d5741a; 
    padding: 10px; 
    padding-left: 40px;
    border-radius: 10px;
    margin-top: 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lixo{
    padding: 5px;
    background-color: #F9B83A;
    border-radius: 10px;
    border:2px solid white;
    cursor: pointer;
}

.ingrediente{
    background-color: #d5741a; 
    padding: 10px; 
    padding-left: 40px;
    border-radius: 10px;
    margin-top: 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.botao-cozinhar button {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: orange;
    color: white;
    border-color: #d5741a;
    border-radius: 18px; 
}



@media (max-width: 500px) {
.ingredientes label {
font-size: 14px;
}
    
.ingredientes input {
font-size: 12px;
}
    
.ingredientes button {
font-size: 11px;
}
    
.botao-cozinhar button {
font-size: 14px;
}
}
    
@media (min-width: 501px) and (max-width: 900px) {
.ingredientes label {
font-size: 16px;
}
    
.ingredientes input {
font-size: 14px;
}
    
.ingredientes button {
font-size: 13px;
}
    
.botao-cozinhar button {
font-size: 16px;
}
}
    
@media (min-width: 901px) {
.ingredientes label {
font-size: 18px;
}
    
.ingredientes input {
font-size: 16px;
}
    
.ingredientes button {
font-size: 15px;
}
    
.botao-cozinhar button {
font-size: 18px;
}
>>>>>>> 62cf68996ebd04bce730bb9c241df358a9220108
=======
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8C98D;
        box-sizing: border-box;
        height: 100%;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F9B83A;
    z-index: 1000;
}

.img-logo {
    text-align: center; 
}

.img-logo img {
    width: 100%;
    max-width: 200px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

.main-content {
    gap: 20px; 
    margin-top: 100px;
    max-width: 700px;
    margin: 0 auto;
}

.grid-container {
    background-color: #d5741a; 
    padding: 10px; 
    padding-left: 40px;
    border-radius: 10px;
    margin-top: 15px; 
    display: flex;
    align-items: center;
    
}

.botaoAdicionar{
    margin: 20px auto;
    padding: 10px 15px;
    background-color: #D5401F;
    color: white;
    border-color: #F9B83A;
    border-radius: 18px; 
    cursor: pointer;
}

.ingredientes label,
.ingredientes input,
.ingredientes button {
    margin-bottom: 10px; 
}

.ingrediente1{
    background-color: #d5741a; 
    padding: 10px; 
    padding-left: 40px;
    border-radius: 10px;
    margin-top: 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lixo{
    padding: 5px;
    background-color: #F9B83A;
    border-radius: 10px;
    border:2px solid white;
    cursor: pointer;
}

.ingrediente{
    background-color: #d5741a; 
    padding: 10px; 
    padding-left: 40px;
    border-radius: 10px;
    margin-top: 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.botao-cozinhar button {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: orange;
    color: white;
    border-color: #d5741a;
    border-radius: 18px; 
}



@media (max-width: 500px) {
.ingredientes label {
font-size: 14px;
}
    
.ingredientes input {
font-size: 12px;
}
    
.ingredientes button {
font-size: 11px;
}
    
.botao-cozinhar button {
font-size: 14px;
}
}
    
@media (min-width: 501px) and (max-width: 900px) {
.ingredientes label {
font-size: 16px;
}
    
.ingredientes input {
font-size: 14px;
}
    
.ingredientes button {
font-size: 13px;
}
    
.botao-cozinhar button {
font-size: 16px;
}
}
    
@media (min-width: 901px) {
.ingredientes label {
font-size: 18px;
}
    
.ingredientes input {
font-size: 16px;
}
    
.ingredientes button {
font-size: 15px;
}
    
.botao-cozinhar button {
font-size: 18px;
}
>>>>>>> 62cf68996ebd04bce730bb9c241df358a9220108
}