html{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    box-sizing: border-box;
    height: 100%;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100;
    background-color: #f9b83a;
    z-index:1000;
}

.img-logo{
    text-align: center;
}

.img-logo img{
    margin: auto;
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
}

.salad1 img{
    margin-top: 12px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 10px;
    margin-top: 20px;
}

.container .sugestoes{
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sugestoes .sugestao{
    display: flex;
    flex-direction: column;
    border: 1px solid #B20C0C;
    border-radius: 10px;
    padding: 8px;
}

.sugestao strong{
    background-color: #D5741A;
    text-align: center;
    color: white;
    border-radius: 4px;
}

.sugestao a {
    display: inline-block;
}
  
.sugestao img {
    max-width: 100%;
    height: auto;
}

.container .carousel-sugestoes{
    grid-row: 2;
}

.carousel .carousel-item img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.container h1{
    background-color: #F9B83A;
    border-radius: 15px;
    text-align: center;
}

.carousel-inner{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: black;
    border: 2px;
}