* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    background-color: #E8C98D;
}

.form-group input {
    border-radius: 10px;
}

#login{
    margin-top: 170px;
}

.info-text {
    margin-top: 10px;
}

.form-group label {
    margin: 20px 0 0 0;
    font-size: 18px;
}

.btn-info {
    background-color: #F9B83A;
    border: 1px solid #d5741a;
    border-radius: 10px;
    color: #fff;
    margin-top: 18px;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F9B83A;
    z-index: 1000;
}

.img-logo {
    text-align: center; 
}

.img-logo img {
    width: 100%;
    max-width: 200px; 
    height: auto; 
    display: block; 
    margin: 0 auto;
}

.img-logo img:hover {
    transform: scale(1.12);
}

.container {
    gap: 20px; 
    margin-top: 100px;
    max-width: 700px;
    margin: 0 auto;
}

footer {
    margin-top: 30px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: #D49927;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #F9B83A;
}

@media (max-width: 768px) {
    .container {
        max-width: 300px;
    }
}


/* modal */

.modal-content {
    background-color: #E8C98D;
    margin-top: 140px;
}



.modal-title {
    margin-right: 10px;
}

.modal-header {
    background-color: #F9B83A;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header button {
    background-color: #F9B83A;
    border: none;
    font-size: 25px;
}
