.btn-info {
    background-color: #F9B83A;
    border-color: #D5401F;
    color: #fff;
}

.col-md-6 {
    text-align: center;
}

.login {
    background-color: #d5741a;
    border-radius: 12px;
}

@media (max-width: 767px) {
    .col-md-6 {
        display: block; 
        text-align: center;
    }
}