body {
    background-color: #D5741A;
    min-height: 100vh;
}

.container {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #D49927;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #D49927;
}

header {
    background-color: #F9B83A;
    padding: 20px;
    text-align: center;
    color: #333;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centralizar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F9B83A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #F9B83A;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #F9B83A;
}
.search-container {
    display: flex;
    margin-top: 20px;
  }
  
  #search-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #F9B83A;
  }
  .botaomais{
    width: 100%;
    max-width: 10;
  }  
  .coloraçao{
    background-color: palegreen;
  }
  .novaReceita{
    margin: auto;
    padding-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .centralizar_texto{
    text-align: center;
    color: white;
  }