img {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: auto;
}

.image-container {
    background-image: linear-gradient(to bottom, #F9B83A 65%, #D49927 65%, #D49927 100%);
    display: flex; 
    padding: 20px;
    align-items: center; 
}

h1 {
    text-align: center;
    color: white; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 25px; 
    border-radius: 20px; 
    background: linear-gradient(to bottom, #F9B83A 65%, #D49927 65%, #D49927 100%);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
}

.comida img {
    width: 700px;
    height: auto; 
    border: 3px solid black; 
    border-radius: 20px;
}



.ingredientes,
.modo-preparo,
h2,
p,
.elementos::after {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fcd683; 
    
    padding: 10px; 
}

h2::after {
    content: ":"; 
}

.elementos {
    position: relative; 
}

.elementos::after {
    content: ""; 
    display: block; 
    height: 20px; 
    position: absolute; 
    bottom: -20px; 
    left: 0; 
    right: 0; 
}

h2,
p {
    margin: 0; 
}