* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8C98D !important;
    box-sizing: border-box;
    height: 100%;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F9B83A;
    z-index: 1000;
}

.img-logo {
    text-align: center;
}

.img-logo img {
    width: 100%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.img-logo img:hover {
    transform: scale(1.12);
}

.avatar {
    margin-top: 40px;
    text-align: center;
    font-size: 200px;
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}


.avatar button {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.avatar img {
    width: 40px;
    height: 40px;
}

.edit{
    font-size: 30px;
    color:gray;
    background-color: whitesmoke;
    display: flex;
    border-radius: 7px;
    cursor: pointer;
    transition: transform .1s transform ease;
}

.nome {
    font-size: xx-large;
    text-align: center;
}

.login {
    font-size: 20px;
    text-align: center;
    padding: 6px;
    color: black;
    background-color: #F9B83A;
    width: max-content;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 600px;
}

.email {
    font-size: 20px;
    text-align: center;
    padding: 6px;
    color: black;
    background-color: #F9B83A;
    width: max-content;
    border-radius: 15px;
    margin: 10px auto;
    max-width: 600px;
}

.LVL {
    font-size: large;
    padding: 6px;
    color: white;
    background-color: #D5401F;
    width: max-content;
    border-radius: 10px;
    margin: 5px auto;
}

.bio {
    font-size: x-large;
    padding: 6px;
    color: black;
    background-color: #F9B83A;
    width: max-content;
    border-radius: 15px;
    margin: 50px auto;
    max-width: 600px;
}

.Menu {
    font-size: 40px;
    background-color: #D58C1F;
    width: max-content;
    margin: 100px auto 0 auto;
    max-width: 600px;
    border-radius: 5px;
    padding: 0 10px;
}

.caixa-receita {
    border: 2px solid #d5741a;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    transition: transform .3s ease;
}

.caixa-receita:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.imagem-receita {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    padding: 3px 3px 0 3px;
}

.receitas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    max-width: 980px;
    margin: 0 auto;
    gap: 24px;
    padding: 20px;
}

.receita a {
 border: 1px solid #d5741a;
 border-radius: 15px;
 display: flex;
 flex-direction: column;
 text-align: center;
 overflow: hidden;
 cursor: pointer;
 transition: .3s ease;
 text-decoration: none;
}

.receita h3 {
    background-color: #d5741a;
    padding: 5px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}

.nome-receita {
    background-color: #d5741a;
    padding: 5px;  
    color: white;
    text-align: center;
    font-size: 18px;
}

.modal-body form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.links {
    display: flex;
    gap: 10px;
}

div.links {
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

div.links a {
    padding: 10px 20px;
    margin: 10px;
    background-color: #D49927;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

div.links a:hover {
    transform: scale(1.12);
}



footer {
    margin-top: 50px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 5px 0;
}

.footer a {
    color: #D49927;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: #F9B83A;
}

